[submodule "lib/Adafruit_CircuitPython_SD"]
	path = lib/Adafruit_CircuitPython_SD
	url = https://github.com/adafruit/Adafruit_CircuitPython_SD/
[submodule "lib/Adafruit_CircuitPython_BusDevice"]
	path = lib/Adafruit_CircuitPython_BusDevice
	url = https://github.com/adafruit/Adafruit_CircuitPython_BusDevice
[submodule "lib/Adafruit_CircuitPython_Display_Text"]
	path = lib/Adafruit_CircuitPython_Display_Text
	url = https://github.com/adafruit/Adafruit_CircuitPython_Display_Text
[submodule "lib/Adafruit_CircuitPython_Bitmap_Font"]
	path = lib/Adafruit_CircuitPython_Bitmap_Font
	url = https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font
[submodule "lib/Adafruit_CircuitPython_NeoPixel"]
	path = lib/Adafruit_CircuitPython_NeoPixel
	url = https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel
[submodule "lib/Adafruit_CircuitPython_ImageLoad"]
	path = lib/Adafruit_CircuitPython_ImageLoad
	url = https://github.com/adafruit/Adafruit_CircuitPython_ImageLoad
[submodule "lib/Adafruit_CircuitPython_ProgressBar"]
	path = lib/Adafruit_CircuitPython_ProgressBar
	url = https://github.com/adafruit/Adafruit_CircuitPython_ProgressBar
